---
# Some common variables used in more then one roles
 
nextcloud_credential_store:    "{{ nextcloud_base_dir }}/secrets"
nextcloud_data_dir:            "{{ nextcloud_base_dir }}/data"
nextcloud_www_dir:             "{{ nextcloud_base_dir }}/www"
nextcloud_config_dir:          "{{ nextcloud_base_dir }}/config"
nextcloud_database_dump_dir:   "{{ nextcloud_base_dir }}/database-dump"
nextcloud_nginx_dir:           "{{ nextcloud_base_dir }}/nginx"


traefik_config_dir:            "{{ nextcloud_base_dir }}/traefik"

portainer_data_dir:            "portainer-data-vol"

nextcloud_container_data_dir:  /var/nc-data

docker_postgres_image:         10-alpine
docker_mysql_image:            latest
docker_nextcloud_image:        stable-fpm
docker_nginx_image:            stable
docker_adminer_image:          latest
docker_traefik_image:          latest
docker_watchtower_image:       latest
docker_redis_image:            latest
docker_collabora_image:        latest
docker_turnserver_image:       latest
docker_dockerproxy_image:      latest

docker_occ_cmd:                'docker exec --user www-data nextcloud php occ'

# dns resolver (nginx reverse ip lookup) set to 127.0.0.1
# see http://blog.zorinaq.com/nginx-resolver-vulns/
nginx_resolver: '127.0.0.1'

# use rclone to backup to a cloud storage, see https://rclone.org for more details
#restic_repo:     "rclone:backup-nextcloud:nextcloud-{{ lookup('password', '{{ nextcloud_credential_store }}/restic_backup_s3_bucket_uid chars=ascii_lowercase,digits length=12') }}/backup"
#rclone_remote: |
#      [backup-nextcloud]
#      type = s3
#      provider = AWS
#      env_auth = false
#      access_key_id = AKIxxxxx
#      secret_access_key = QMpoxxxx
#      region = us-east-1
#      acl = private
#      server_side_encryption = AES256
#      storage_class = STANDARD_IA
