---
# CentOS related OS tasks

- name: add docker repo
  get_url: 
    url: https://download.docker.com/linux/centos/docker-ce.repo
    dest: /etc/yum.repos.d/docker.repo
    owner: root
    group: root
    mode: 0644

- name: install python docker via pip
  pip:
    name: docker
    state: latest

- name: install docker
  yum: 
    name: 
      - docker-ce
    state: latest
