---

- name: install fulltextsearch apps
  shell: '{{ docker_occ_cmd }} app:install {{ item }}'
  args:
    creates: '{{ nextcloud_www_dir }}/apps/{{ item }}'
  loop:
    - fulltextsearch
    - fulltextsearch_elasticsearch
    - files_fulltextsearch
    - files_fulltextsearch_tesseract
  register: fulltextsearch_app_installed

- name: enable fulltextsearch apps
  shell: '{{ docker_occ_cmd }} app:enable {{ item }}'
  loop:
    - fulltextsearch
    - fulltextsearch_elasticsearch
    - files_fulltextsearch
    - files_fulltextsearch_tesseract
  when: fulltextsearch_app_installed is changed

- name: configure fulltextsearch app
  shell: '{{ docker_occ_cmd }} {{ item }}'
  loop:
    - config:app:set fulltextsearch search_platform --value "OCA\FullTextSearch_Elasticsearch\Platform\ElasticSearchPlatform"
    - config:app:set fulltextsearch app_navigation --value="1"
    - config:app:set fulltextsearch_elasticsearch analyzer_tokenizer --value "standard"
    - config:app:set fulltextsearch_elasticsearch elastic_host --value "http://elasticsearch_tesseract:9200"
    - config:app:set fulltextsearch_elasticsearch elastic_index --value "nc_index"
    - config:app:set files_fulltextsearch files_local  --value="1"
    - config:app:set files_fulltextsearch files_external  --value="0"
    - config:app:set files_fulltextsearch files_group_folders --value="1"
    - config:app:set files_fulltextsearch files_encrypted --value="1"
    - config:app:set files_fulltextsearch files_federated --value="0"
    - config:app:set files_fulltextsearch files_size --value="20"
    - config:app:set files_fulltextsearch files_pdf --value="1"
    - config:app:set files_fulltextsearch files_office --value="1"
    - config:app:set files_fulltextsearch files_image --value="1"
    - config:app:set files_fulltextsearch files_audio --value="0"
    - config:app:set files_fulltextsearch_tesseract tesseract_enabled --value="1"
    - config:app:set files_fulltextsearch_tesseract tesseract_psm --value="4"
    - config:app:set files_fulltextsearch_tesseract tesseract_lang --value="eng,de"
    - config:app:set files_fulltextsearch_tesseract tesseract_pdf --value="1"

- name: create fulltextsearch index
  shell: '{{ docker_occ_cmd }} {{ item }}'
  loop:
    - fulltextsearch:index
  when: fulltextsearch_app_installed is changed

- name: enable and start live search
  service:
    name: nextcloud-fulltext-elasticsearch-worker.service
    enabled: true
    state: started
