<?php
$CONFIG = array (
  'objectstore' => array(
          'class' => '\\OC\\Files\\ObjectStore\\S3',
          'arguments' => array(
                  'bucket' => '{{ aws_s3_bucket_name | default('nextcloud-'+nextcloud_server_fqdn) }}',
                  'autocreate' => true,
                  'key'    => '{{ aws_s3_key }}',
                  'secret' => '{{ aws_s3_secret }}',
                  'hostname' => '{{ aws_s3_hostname | default('s3.amazonaws.com') }}',
                  'port' => '{{ aws_s3_port | default('') }}',
                  'use_ssl' => {{ aws_s3_use_ssl | default('true') }},
                  'region' => '{{ aws_s3_region | default('us-east-1') }}',
                  // required for some non Amazon S3 implementations
                  'use_path_style' => {{ aws_s3_use_path_style | default('true') }}
          ),
  ),
);
