FROM elasticsearch:{{ docker_elasticsearch_image }}

RUN bin/elasticsearch-plugin install --batch ingest-attachment && \
    yum-config-manager --add-repo https://download.opensuse.org/repositories/home:/Alexander_Pozdnyakov/CentOS_7/ && \
    rpm --import https://build.opensuse.org/projects/home:Alexander_Pozdnyakov/public_key && \
    yum update -y && \
    yum install tesseract {% for language in tessreact_language_packs %}tesseract-langpack-{{language }} {% endfor %} -y && \
    yum clean all