[log]
  level = "ERROR"

[providers.docker]
  exposedByDefault = false
  endpoint = "tcp://dockerproxy:2375"
  network = "traefik"

[providers.file]
  watch=true
  filename = "dynamic.toml"

[entryPoints]
  [entryPoints.web]
    address = ":80"
  [entryPoints.web-secure]
    address = ":443"

{% if ssl_cert_email is defined %}
[certificatesResolvers]
  [certificatesResolvers.default.acme]
    email = "{{ ssl_cert_email }}"
    storage = "acme.json"
    [certificatesResolvers.default.acme.tlsChallenge]
{% endif %}
{% if acme_provider is defined %}
    [certificatedResolver.default.acme.dnsChallenge]
    provider = "{{ acme_provider }}"
    delayBeforeCheck = 0
{% endif %}