defaultEntryPoints = ["http", "https"]

[web]
# Port for the status page
address = ":8080"

[entryPoints]

  [entryPoints.http]
    address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"

  [entryPoints.https]
    address = ":443"
    [entryPoints.https.tls]
    minVersion = "VersionTLS12"
    cipherSuites = [ "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256", 
                     "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256", 
                     "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305", 
                     "TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA", 
                     "TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA"]

{% if traefik_api_user is defined %}
  [entryPoints.traefik]
    address = ":8080"
    [entryPoints.traefik.auth]
      [entryPoints.traefik.auth.basic]
        users = ["{{ traefik_api_user }}:{{ lookup('password', '{{ nextcloud_credential_store }}/traefik_api_password chars=ascii_letters,digits length=32') | password_hash('bcrypt','1234567890123456789012') }}"]
{% endif %}

{% if online_office == 'onlyoffice1' %}
  [entryPoints.onlyoffice]
    address = ":8443"
    [entryPoints.onlyoffice.tls]
    minVersion = "VersionTLS12"
    cipherSuites = [ "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256", 
                     "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256", 
                     "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305", 
                     "TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA", 
                     "TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA"]
{% endif %}


[api]
  entryPoint = "traefik"
  dashboard = true

[docker]

watch = true
exposedbydefault = false

{% if ssl_cert_email is defined %}
[acme]
email = "{{ ssl_cert_email }}"
storage = "acme.json"
entryPoint = "https"
onHostRule = true
  [acme.httpChallenge]
  entryPoint = "http"
{% endif %}

{% if acme_provider is defined %}
[acme.dnsChallenge]
provider = "{{ acme_provider }}"
delayBeforeCheck = 0
{% endif %}
